<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>89850942433-45ta9c27al3o181t5iefq454oas3gjjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89850942433-45ta9c27al3o181t5iefq454oas3gjjf</string>
	<key>API_KEY</key>
	<string>AIzaSyCpLOovhn1Xnn5x1Tv6wtn975Dut1GYRGI</string>
	<key>GCM_SENDER_ID</key>
	<string>89850942433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rdhupia.BubblesChatApp</string>
	<key>PROJECT_ID</key>
	<string>bubbleschat-c19a3</string>
	<key>STORAGE_BUCKET</key>
	<string>bubbleschat-c19a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:89850942433:ios:241277deb69a5d81</string>
	<key>DATABASE_URL</key>
	<string>https://bubbleschat-c19a3.firebaseio.com</string>
</dict>
</plist>